.card {
  border-radius: 11px;
  width: 290px;
  height: 370px;
  padding: -53px -23px 9px 30px;
  margin: -282px 94px 330px 86px;
  }
.card img{
  width: 244px;
  height: 260px;
  margin: 19px 21px;
}
  
  .card:hover {
    background-color:  hwb(8deg 68% 9% / 30%);
  }
  .card h4{
    font-size: 18px;
    font-weight: 100;
    width: 148px
  }
  .card h3{
    font-size: 18px;
    font-weight: 100;
    width: 121px;
  }
  .card h5{
    font-size: 18px;
    font-weight: 100;
    width: 148px;
  }